In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -mkdir /tmp/drivers

In [3]:
!hdfs dfs -ls /tmp/drivers/*

ls: `/tmp/drivers/*': No such file or directory

In [4]:
!hdfs dfs -tail /tmp/drivers/data.tsv

tail: `/tmp/drivers/data.tsv': No such file or directory

In [5]:
%%hive
DROP TABLE IF EXISTS data1;

CREATE TABLE data1 (f1 string,
                      f2 string,
                      f3 int )
                      
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY '\t';

LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data1;

INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT CONCAT (f1,',', count (f1))
FROM data1
GROUP BY f1;

DROP TABLE IF EXISTS data1;
OK
Time taken: 23.979 seconds
CREATE TABLE data1 (f1 string,
                      f2 string,
                      f3 int )
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 1.973 seconds
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data1;
Loading data to table default.data1
OK
Time taken: 2.086 seconds
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT CONCAT (f1,',', count (f1))
FROM data1
GROUP BY f1;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200202002556_13f6b3ca-241a-4349-afbd-1eb21d711f95
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580602610874_0002, Tracking URL = http://a321161b7762:8088/proxy/application_1580602610874_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580602610874_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-02 00:26:15,099 Stage-1 map = 0%,  reduce = 0%
2020-02-02 00:26:23,310 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.17 sec
2020-02-02 00:26:33,754 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 6.47 sec
MapReduce Total cumulative CPU time: 6 seconds 470 msec
Ended Job = job_1580602610874_0002
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 6.47 sec   HDFS Read: 8574 HDFS Write: 23 SUCCESS
Total MapReduce CPU Time Spent: 6 seconds 470 msec
OK
Time taken: 38.449 seconds

In [ ]:
%%hive
SELECT CONCAT (f1,',', count (f1))
FROM data1
GROUP BY f1;

SELECT CONCAT (f1,',', count (f1))
FROM data1