In [1]:
%load_ext bigdata

In [2]:
## tiempo máximo de espera de procesamiento antes de que se reporte un error por procesamiento.
%timeout 300

In [4]:
## Borra la carpeta si existe
!hdfs dfs -rm -r -f /tmp/drivers

##
## Crea la carpeta drivers en el HDFS
##
!hdfs dfs -mkdir /tmp/drivers

##
## Copia los archivos al HDFS
##
!hdfs dfs -copyFromLocal tbl0.csv  /tmp/drivers/tbl0.csv
!hdfs dfs -copyFromLocal tbl1.csv  /tmp/drivers/tbl1.csv

##
## Lista los archivos al HDFS para verificar
## que los archivos fueron copiados correctamente.
##
!hdfs dfs -ls /tmp/drivers/*

Deleted /tmp/drivers
-rw-r--r--   1 root supergroup        388 2020-02-06 01:17 /tmp/drivers/tbl0.csv
-rw-r--r--   1 root supergroup        273 2020-02-06 01:17 /tmp/drivers/tbl1.csv

In [5]:
## Carga de los datos de los eventos de los conductores
##   En el siguiente código se crea crea la tabla de eventos de los conductores en el sistema; la primera instrucción borra la tabla si ya existe. 
##   Note que se debe especificar que los campos en las filas están delimitados por comas para que Hive los importe correctamente.

In [3]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 10.021 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.494 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 2.778 seconds

In [8]:
## Se verifican las tablas existentes en la base de datos.

In [4]:
%%hive
SHOW TABLES;

SHOW TABLES;
OK
tabla3
tbl0
Time taken: 0.104 seconds, Fetched: 2 row(s)

In [10]:
## A continuación se muestra la información detallada de creación de la tabla truck_events.

In [6]:
%%hive
SHOW CREATE TABLE tbl0;

SHOW CREATE TABLE tbl0;
OK
CREATE TABLE `tbl0`(
  `c1` int,
  `c2` string,
  `c3` int,
  `c4` date,
  `c5` array<char(1)>,
  `c6` map<string,int>)
ROW FORMAT SERDE
  'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'colelction.delim'=':',
  'field.delim'=',',
  'line.delim'='\n',
  'mapkey.delim'='#',
  'serialization.format'=',')
STORED AS INPUTFORMAT
  'org.apache.hadoop.mapred.TextInputFormat'
OUTPUTFORMAT
  'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION
  'hdfs://0.0.0.0:9000/user/hive/warehouse/tbl0'
TBLPROPERTIES (
  'transient_lastDdlTime'='1580952353')
Time taken: 0.381 seconds, Fetched: 23 row(s)

In [12]:
## También es posible visualizar los campos y su contenido con el comando DESCRIBE.

In [7]:
%%hive
DESCRIBE tbl0;

DESCRIBE tbl0;
OK
c1                  	int
c2                  	string
c3                  	int
c4                  	date
c5                  	array<char(1)>
c6                  	map<string,int>
Time taken: 0.043 seconds, Fetched: 6 row(s)

In [14]:
## Carga de datos
##  La carga de datos se realiza con la siguiente consulta.

In [8]:
%%hive
LOAD DATA INPATH '/tmp/drivers/data.tsv' OVERWRITE 
INTO TABLE tabla3;
--LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE tabla3;

LOAD DATA INPATH '/tmp/drivers/data.tsv' OVERWRITE
INTO TABLE tabla3;
Loading data to table default.tabla3
OK
Time taken: 1.226 seconds
--LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE tabla3;

In [16]:
## Se verifican las propieades de la tabla después de la carga de datos.

In [9]:
%%hive
SHOW TBLPROPERTIES tabla3;

SHOW TBLPROPERTIES tabla3;
OK
numFiles	1
numRows	0
rawDataSize	0
totalSize	637
transient_lastDdlTime	1580947227
Time taken: 0.038 seconds, Fetched: 5 row(s)

In [10]:
%%hive
SELECT f1,f2,f3
FROM tabla3;

SELECT f1,f2,f3
FROM tabla3;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
E	1994-02-14	5
A	1988-04-27	12
A	1990-10-06	10
E	1985-02-12	16
E	1998-09-14	16
B	1994-08-30	17
A	1997-12-15	13
B	1995-08-23	10
B	1998-11-22	13
B	1997-04-09	14
E	1993-12-27	18
E	1999-01-14	15
A	1992-09-19	18
B	1993-03-02	14
B	1999-10-21	13
A	1990-08-31	12
C	1994-01-25	6
E	1990-02-09	18
A	1990-09-26	14
A	1993-05-08	16
B	1995-09-06	14
E	1991-02-18	14
A	1993-01-11	14
A	1990-07-22	18
C	1994-09-09	15
C	1994-07-27	7
D	1990-10-10	15
A	1990-09-05	11
B	1991-10-01	15
A	1994-10-25	13
Time taken: 2.389 seconds, Fetched: 40 row(s)

In [29]:
## Visualización de datos
##   La visualización se realiza mediante consultas con SELECT.

In [11]:
%%hive
--Punto 1
SELECT CONCAT (f1,',', count (f1))
FROM tabla3
GROUP BY f1;

--Punto 1
SELECT CONCAT (f1,',', count (f1))
FROM tabla3
GROUP BY f1;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200202151102_18635b51-7379-40dc-8ba6-ad5d17b351ff
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580651373362_0008, Tracking URL = http://75d445e89cd4:8088/proxy/application_1580651373362_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580651373362_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-02 15:11:21,880 Stage-1 map = 0%,  reduce = 0%
2020-02-02 15:11:33,950 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.55 sec
2020-02-02 15:11:47,002 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 8.03 sec
MapReduce Total cumulative CPU time: 8 seconds 30 msec
Ended Job = job_1580651373362_0008
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 8.03 sec   HDFS Read: 8998 HDFS Write: 170 SUCCESS
Total MapReduce CPU Time Spent: 8 seconds 30 msec
OK
A,12
B,10
C,4
D,1
E,13
Time taken: 45.586 seconds, Fetched: 5 row(s)

In [11]:
%%hive
--Punto 2
--INSERT OVERWRITE DIRECTORY '/tmp/output'
--INSERT OVERWRITE DIRECTORY '/tmp/drivers/summary'

--INSERT OVERWRITE LOCAL DIRECTORY 'output'
--ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    CONCAT(f1,',',f2,',',f3)
FROM (
    SELECT f1, f2, f3 FROM tabla3 ORDER BY f1, f3, f2 asc
) tabla5
LIMIT 40;

--Punto 2
--INSERT OVERWRITE DIRECTORY '/tmp/output'
--INSERT OVERWRITE DIRECTORY '/tmp/drivers/summary'
--INSERT OVERWRITE LOCAL DIRECTORY 'output'
--ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    CONCAT(f1,',',f2,',',f3)
FROM (
    SELECT f1, f2, f3 FROM tabla3 ORDER BY f1, f3, f2 asc
) tabla5
LIMIT 40;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200206000056_9257bb95-7991-4d2c-948b-0d0818e05066
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580946701849_0001, Tracking URL = http://a666d7275a3d:8088/proxy/application_1580946701849_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580946701849_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-06 00:01:13,622 Stage-1 map = 0%,  reduce = 0%
2020-02-06 00:01:20,598 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.66 sec
2020-02-06 00:01:30,768 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.69 sec
MapReduce Total cumulative CPU time: 4 seconds 690 msec
Ended Job = job_1580946701849_0001
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.69 sec   HDFS Read: 8480 HDFS Write: 1204 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 690 msec
OK
A,1990-10-06,10
A,1990-09-05,11
A,1988-04-27,12
A,1990-08-31,12
A,1994-10-25,13
A,1997-12-15,13
A,1990-09-26,14
A,1992-08-22,14
A,1993-01-11,14
A,1993-05-08,16
A,1990-07-22,18
A,1992-09-19,18
B,1995-08-23,10
B,1999-06-11,12
B,1998-11-22,13
B,1999-10-21,13
B,1993-03-02,14
B,1995-09-06,14
B,1997-04-09,14
B,1999-08-28,14
B,1991-10-01,15
B,1994-08-30,17
C,1994-01-25,6
C,1994-07-27,7
C,1991-02-12,13
C,1994-09-09,15
D,1990-10-10,15
E,1994-02-14,5
E,1999-09-10,11
E,1999-12-06,12
E,1993-01-27,13
E,1991-02-18,14
E,1999-01-14,15
E,1985-02-12,16
E,1990-05-03,16
E,1995-04-25,16
E,1998-09-14,16
E,1993-07-21,17
E,1990-02-09,18
E,1993-12-27,18
Time taken: 36.725 seconds, Fetched: 40 row(s)

In [8]:
%%hive
--Punto 3
--INSERT OVERWRITE DIRECTORY '/tmp/output'
--INSERT OVERWRITE DIRECTORY '/tmp/drivers/summary'

INSERT OVERWRITE LOCAL DIRECTORY 'output'
--ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT DISTINCT f3
FROM tabla3
ORDER BY f3 asc
LIMIT 5;

--Punto 3
--INSERT OVERWRITE DIRECTORY '/tmp/output'
--INSERT OVERWRITE DIRECTORY '/tmp/drivers/summary'
INSERT OVERWRITE LOCAL DIRECTORY 'output'
--ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT DISTINCT f3
FROM tabla3
ORDER BY f3 asc
LIMIT 5;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200206012802_c8a1e375-d828-44cb-9063-cab6096d252b
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580946701849_0007, Tracking URL = http://a666d7275a3d:8088/proxy/application_1580946701849_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580946701849_0007
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-06 01:28:15,410 Stage-1 map = 0%,  reduce = 0%
2020-02-06 01:28:23,462 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.16 sec
2020-02-06 01:28:33,429 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.68 sec
MapReduce Total cumulative CPU time: 3 seconds 680 msec
Ended Job = job_1580946701849_0007
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580946701849_0008, Tracking URL = http://a666d7275a3d:8088/proxy/application_1580946701849_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580946701849_0008
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-06 01:28:48,078 Stage-2 map = 0%,  reduce = 0%
2020-02-06 01:28:54,856 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 2.32 sec
2020-02-06 01:29:01,456 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.61 sec
MapReduce Total cumulative CPU time: 3 seconds 610 msec
Ended Job = job_1580946701849_0008
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.68 sec   HDFS Read: 7246 HDFS Write: 186 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.61 sec   HDFS Read: 4729 HDFS Write: 12 SUCCESS
Total MapReduce CPU Time Spent: 7 seconds 290 msec
OK
Time taken: 60.341 seconds

In [24]:
%%hive
--Punto 4
--INSERT OVERWRITE DIRECTORY '/tmp/output'
--INSERT OVERWRITE DIRECTORY '/tmp/drivers/summary'

--INSERT OVERWRITE LOCAL DIRECTORY 'output'
--ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT DISTINCT r0
FROM tbl0
LATERAL VIEW explode(c5) tbl0 AS r0
ORDER BY r0 asc
LIMIT 5;

--Punto 4
--INSERT OVERWRITE DIRECTORY '/tmp/output'
--INSERT OVERWRITE DIRECTORY '/tmp/drivers/summary'
--INSERT OVERWRITE LOCAL DIRECTORY 'output'
--ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT DISTINCT r0
FROM tbl0
LATERAL VIEW explode(c5) tbl0 AS r0
ORDER BY r0 asc
--LIMIT 5;

In [61]:
##!hdfs dfs -ls /tmp/drivers/summary/
!hdfs dfs -ls /tmp/output

Found 1 items
-rwxrwxrwx   1 root supergroup        621 2020-02-02 03:31 /tmp/output/000000_0

In [63]:
##!hdfs dfs -tail /tmp/drivers/summary/000000_0
!hdfs dfs -tail /tmp/output/000000_0

A,1990-10-06,10
A,1990-09-05,11
A,1988-04-27,12
A,1990-08-31,12
A,1994-10-25,13
A,1997-12-15,13
A,1993-01-11,14
A,1990-09-26,14
A,1992-08-22,14
A,1993-05-08,16
A,1992-09-19,18
A,1990-07-22,18
B,1995-08-23,10
B,1999-06-11,12
B,1998-11-22,13
B,1999-10-21,13
B,1993-03-02,14
B,1995-09-06,14
B,1997-04-09,14
B,1991-10-01,15
B,1994-08-30,17
C,1994-01-25,6
C,1994-07-27,7
C,1991-02-12,13
C,1994-09-09,15
D,1990-10-10,15
E,1994-02-14,5
E,1999-09-10,11
E,1999-12-06,12
E,1993-01-27,13
E,1991-02-18,14
E,1999-01-14,15
E,1985-02-12,16
E,1990-05-03,16
E,1998-09-14,16
E,1995-04-25,16
E,1993-07-21,17
E,1990-02-09,18
E,1993-12-27,18

In [74]:
##Copia de los resultados a la máquina local
##!hadoop fs -copyToLocal /tmp/drivers/summary/ output
##!ls output/*
##STORE r5 INTO 'output';
##fs -copyToLocal output output; 
!hadoop fs -copyToLocal /tmp/output output
!ls output/*

copyToLocal: `output/output/000000_0': File exists
output/000000_0

output/output:
000000_0

output/summary:
000000_0

In [75]:
!cat output/000000_0

A,1990-10-06,10
A,1990-09-05,11
A,1988-04-27,12
A,1990-08-31,12
A,1994-10-25,13
A,1997-12-15,13
A,1993-01-11,14
A,1990-09-26,14
A,1992-08-22,14
A,1993-05-08,16
A,1992-09-19,18
A,1990-07-22,18
B,1995-08-23,10
B,1999-06-11,12
B,1998-11-22,13
B,1999-10-21,13
B,1993-03-02,14
B,1995-09-06,14
B,1997-04-09,14
B,1991-10-01,15
B,1994-08-30,17
C,1994-01-25,6
C,1994-07-27,7
C,1991-02-12,13
C,1994-09-09,15
D,1990-10-10,15
E,1994-02-14,5
E,1999-09-10,11
E,1999-12-06,12
E,1993-01-27,13
E,1991-02-18,14
E,1999-01-14,15
E,1985-02-12,16
E,1990-05-03,16
E,1998-09-14,16
E,1995-04-25,16
E,1993-07-21,17
E,1990-02-09,18
E,1993-12-27,18

In [26]:
%%hive
DESCRIBE tabla3;

DESCRIBE tabla3;
OK
f1                  	string
f2                  	string
f3                  	int
Time taken: 0.049 seconds, Fetched: 3 row(s)

In [20]:
## Obtención de un subconjunto de datos
##   En hive es posible un subconjunto de datos y almacenarlo en una nueva tabla a partir de una consulta que permita obtener los datos deseados. 
##   En el siguiente código, se crea la tabla truck_events_subset con los primeros 100 registros de la tabla truck_events.

In [13]:
%%hive
DROP TABLE IF EXISTS subconjuntotabla3;

CREATE TABLE subconjuntotabla3
AS
    SELECT *
    FROM tabla3
    LIMIT 10;

DROP TABLE IF EXISTS subconjuntotabla3;
OK
Time taken: 0.015 seconds
CREATE TABLE subconjuntotabla3
AS
    SELECT *
    FROM tabla3
    LIMIT 10;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200202015725_5acea685-c14c-4e38-945c-c702fcae4e14
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580606501050_0003, Tracking URL = http://24b3049aba78:8088/proxy/application_1580606501050_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580606501050_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-02 01:57:38,652 Stage-1 map = 0%,  reduce = 0%
2020-02-02 01:57:52,483 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.83 sec
2020-02-02 01:58:05,729 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.02 sec
MapReduce Total cumulative CPU time: 5 seconds 20 msec
Ended Job = job_1580606501050_0003
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/subconjuntotabla3
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.02 sec   HDFS Read: 7981 HDFS Write: 241 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 20 msec
OK
Time taken: 42.724 seconds

In [14]:
%%hive
SELECT * FROM subconjuntotabla3 LIMIT 10;

SELECT * FROM subconjuntotabla3 LIMIT 10;
OK
E	1994-02-14	5
E	1990-05-03	16
E	1999-09-10	11
E	1993-01-27	13
B	1999-06-11	12
A	1992-08-22	14
E	1995-04-25	16
C	1991-02-12	13
E	1993-07-21	17
E	1999-12-06	12
Time taken: 0.229 seconds, Fetched: 10 row(s)

In [22]:
## El código anterior es equivalente al siguiente, donde se usa LIKE en CREATE TABLE para indicar que la nueva tabla truck_events_subset tiene la misma estructura de la tabla existente truck_events.

In [15]:
%%hive

DROP TABLE IF EXISTS DROP TABLE IF EXISTS subconjuntotabla3;

CREATE TABLE subconjuntotabla3 LIKE tabla3;

INSERT OVERWRITE TABLE subconjuntotabla3
SELECT
    *
FROM
    tabla3
LIMIT
    10;

DROP TABLE IF EXISTS DROP TABLE IF EXISTS subconjuntotabla3;
NoViableAltException(100@[213:1: tableName : (db= identifier DOT tab= identifier -> ^( TOK_TABNAME $db $tab) |tab= identifier -> ^( TOK_TABNAME $tab) );])
	at org.antlr.runtime.DFA.noViableAlt(DFA.java:158)
	at org.antlr.runtime.DFA.predict(DFA.java:116)
	at org.apache.hadoop.hive.ql.parse.HiveParser_FromClauseParser.tableName(HiveParser_FromClauseParser.java:5041)
	at org.apache.hadoop.hive.ql.parse.HiveParser.tableName(HiveParser.java:41966)
	at org.apache.hadoop.hive.ql.parse.HiveParser.dropTableStatement(HiveParser.java:7781)
	at org.apache.hadoop.hive.ql.parse.HiveParser.ddlStatement(HiveParser.java:3822)
	at org.apache.hadoop.hive.ql.parse.HiveParser.execStatement(HiveParser.java:2382)
	at org.apache.hadoop.hive.ql.parse.HiveParser.statement(HiveParser.java:1333)
	at org.apache.hadoop.hive.ql.parse.ParseDriver.parse(ParseDriver.java:208)
	at org.apache.hadoop.hive.ql.parse.ParseUtils.parse(ParseUtils.java:77)
	at org.apache.hadoop.hive.ql.parse.ParseUtils.parse(ParseUtils.java:70)
	at org.apache.hadoop.hive.ql.Driver.compile(Driver.java:468)
	at org.apache.hadoop.hive.ql.Driver.compileInternal(Driver.java:1317)
	at org.apache.hadoop.hive.ql.Driver.runInternal(Driver.java:1457)
	at org.apache.hadoop.hive.ql.Driver.run(Driver.java:1237)
	at org.apache.hadoop.hive.ql.Driver.run(Driver.java:1227)
	at org.apache.hadoop.hive.cli.CliDriver.processLocalCmd(CliDriver.java:233)
	at org.apache.hadoop.hive.cli.CliDriver.processCmd(CliDriver.java:184)
	at org.apache.hadoop.hive.cli.CliDriver.processLine(CliDriver.java:403)
	at org.apache.hadoop.hive.cli.CliDriver.executeDriver(CliDriver.java:821)
	at org.apache.hadoop.hive.cli.CliDriver.run(CliDriver.java:759)
	at org.apache.hadoop.hive.cli.CliDriver.main(CliDriver.java:686)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.util.RunJar.run(RunJar.java:239)
	at org.apache.hadoop.util.RunJar.main(RunJar.java:153)
FAILED: ParseException line 1:21 cannot recognize input near 'DROP' 'TABLE' 'IF' in table name
CREATE TABLE subconjuntotabla3 LIKE tabla3;
FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. AlreadyExistsException(message:Table subconjuntotabla3 already exists)
INSERT OVERWRITE TABLE subconjuntotabla3
SELECT
    *
FROM
    tabla3
LIMIT
    10;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200202020024_d84db9bd-241b-4652-a230-00aa7ece110a
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1580606501050_0004, Tracking URL = http://24b3049aba78:8088/proxy/application_1580606501050_0004/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580606501050_0004
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-02 02:00:35,204 Stage-1 map = 0%,  reduce = 0%
2020-02-02 02:00:42,149 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.08 sec
2020-02-02 02:00:49,988 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.67 sec
MapReduce Total cumulative CPU time: 3 seconds 670 msec
Ended Job = job_1580606501050_0004
Loading data to table default.subconjuntotabla3
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.67 sec   HDFS Read: 8597 HDFS Write: 241 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 670 msec
OK
Time taken: 27.959 seconds

In [16]:
%%hive
SELECT * FROM subconjuntotabla3 LIMIT 5;

SELECT * FROM subconjuntotabla3 LIMIT 5;
OK
E	1994-02-14	5
E	1990-05-03	16
E	1999-09-10	11
E	1993-01-27	13
B	1999-06-11	12
Time taken: 0.206 seconds, Fetched: 5 row(s)

In [25]:
## Obtención de un subconjunto de datos
##   En el siguiente código se obtienen algunas columnas de la tabla truck_events_subset para ser almacenadas en una tabla diferente.

In [17]:
%%hive

DROP TABLE IF EXISTS specific_columns;

CREATE TABLE specific_columns
AS
    SELECT
        f1,
        f3
    FROM
        subconjuntotabla3;

SELECT * FROM specific_columns LIMIT 5;

DROP TABLE IF EXISTS specific_columns;
OK
Time taken: 0.005 seconds
CREATE TABLE specific_columns
AS
    SELECT
        f1,
        f3
    FROM
        subconjuntotabla3;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200202020243_c7ae4e67-6e26-46d9-b9a0-2602149ad9a7
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1580606501050_0005, Tracking URL = http://24b3049aba78:8088/proxy/application_1580606501050_0005/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580606501050_0005
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-02 02:02:52,895 Stage-1 map = 0%,  reduce = 0%
2020-02-02 02:02:59,630 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.83 sec
MapReduce Total cumulative CPU time: 1 seconds 830 msec
Ended Job = job_1580606501050_0005
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-02_02-02-43_294_5774067471161797988-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/specific_columns
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.83 sec   HDFS Read: 3693 HDFS Write: 129 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 830 msec
OK
Time taken: 18.101 seconds
SELECT * FROM specific_columns LIMIT 5;
OK
E	5
E	16
E	11
E	13
B	12
Time taken: 0.407 seconds, Fetched: 5 row(s)

In [27]:
## Escritura de la tabla en el HDFS
##   Seguidamente, se procede a escribir el contenido de la tabla en el directorio /tmp/drivers/specific-columns del HDFS.

In [18]:
%%hive
INSERT OVERWRITE DIRECTORY '/tmp/drivers/specific-columns'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    specific_columns;

INSERT OVERWRITE DIRECTORY '/tmp/drivers/specific-columns'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    specific_columns;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200202020410_95777ba6-a4f6-4648-8a63-6cf7d9c1dc0d
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1580606501050_0006, Tracking URL = http://24b3049aba78:8088/proxy/application_1580606501050_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1580606501050_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-02 02:04:20,579 Stage-1 map = 0%,  reduce = 0%
2020-02-02 02:04:27,299 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.13 sec
MapReduce Total cumulative CPU time: 2 seconds 130 msec
Ended Job = job_1580606501050_0006
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/drivers/specific-columns/.hive-staging_hive_2020-02-02_02-04-10_510_4947655197331567231-1/-ext-10000
Moving data to directory /tmp/drivers/specific-columns
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.13 sec   HDFS Read: 3512 HDFS Write: 49 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 130 msec
OK
Time taken: 17.915 seconds

In [20]:
##
## Se visualiza el contenido del directorio
##
!hdfs dfs -ls /tmp/drivers/specific-columns/

Found 1 items
-rwxr-xr-x   1 root supergroup         49 2020-02-02 02:04 /tmp/drivers/specific-columns/000000_0

In [21]:
##
## Se visualiza la parte final del archivo
##
!hdfs dfs -tail /tmp/drivers/specific-columns/000000_0

E,5
E,16
E,11
E,13
B,12
A,14
E,16
C,13
E,17
E,12

In [31]:
%%hive
DROP TABLE drivers;
DROP TABLE specific_columns;
DROP TABLE temp_drivers;
DROP TABLE temp_timesheet;
DROP TABLE timesheet;
DROP TABLE truck_events;
DROP TABLE truck_events_subset;

DROP TABLE drivers;
OK
Time taken: 0.102 seconds
DROP TABLE specific_columns;
OK
Time taken: 0.049 seconds
DROP TABLE temp_drivers;
OK
Time taken: 0.009 seconds
DROP TABLE temp_timesheet;
OK
Time taken: 0.007 seconds
DROP TABLE timesheet;
OK
Time taken: 0.005 seconds
DROP TABLE truck_events;
OK
Time taken: 0.091 seconds
DROP TABLE truck_events_subset;
OK
Time taken: 0.063 seconds

In [14]:
!rm *.csv *.log

rm: cannot remove '*.csv': No such file or directory

In [33]:
## Finalmente, y una vez se ha terminado de depurar el código, se cierra el interprete de Hive que se abrió en el background.

In [15]:
%hive_quit